body {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background: #111111;
    padding: 5%;
  }
.start{
        text-align: center;
        width: 100%;
    }
.game{
    width: 100%;
    display: flex;
    justify-content: center;
  }
.foot{
    display: flex;
    justify-content: space-around;
  }
.keyhead{
    font-size: 20px;
  }
.keys{
    font-size: 30px;
    text-align: center;
  }

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.startgame{
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    border: 3px solid #ffffff;
    color: #ffffff;
    background: #111111;
    height: 100px;
    width: 400px;
}
.startgame:hover {
  border: none;
  background: #ffffff;
  color: #111111;
}
.music{
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid #ffffff;
  color: #ffffff;
  background: #111111;
  height: 50px;
  width: 150px;
}
.music:hover{
  border: none;
  background: #ffffff;
  color: #111111;
}
.names{
    text-align: center;
    margin-top: 50px;
}